 <section class="about-us-section" id="about-us">
      <div class="about-us-container">
        <div class="about-us-wrapper">
          <h2 class="about-us-titel special">About us</h2>
          <p class="about-us-slogan">
            Our сraftsmanship: сreating unique handmade furniture
          </p>
          <p class="about-us-descrition">
            Discover the inspiration behind our modern and minimalist designs,
            and see how we bring them to life through our skilled craftsmanship.
          </p>

          <div class="about-us-statisctic-list-wrapper">
            <ul class="about-us-statistic-list">
              <li class="about-us-list-item">
                <span class="about-us-list-item-span">5+</span>
                <p class="about-us-list-item-text">
                  Years of experience creating handcrafted furniture
                </p>
              </li>
              <li class="about-us-list-item">
                <span class="about-us-list-item-span">100%</span>
                <p class="about-us-list-item-text">
                  Sustainably sourced materials used in all of our furniture
                </p>
              </li>
              <li class="about-us-list-item">
                <span class="about-us-list-item-span">500+</span>
                <p class="about-us-list-item-text">
                  Unique furniture designs crafted by our skilled artisans
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="about-us-img-wrapper">

          <picture>
            <source
              srcset="
                ./img/about-us/about-us-mob-1x 1x,
                ./img/about-us/about-us-mob-2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpg"
            />
            <source
              srcset="
                ./img/about-us/about-us-tab-1x.jpg 1x,
                ./img/about-us/about-us-tab-2x.jpg 2x
              "
              media="(max-width:1439px)"
              type="image/jpg"
            />
            <source
              srcset="
                ./img/about-us/about-us-desktop-1x.jpg 1x,
                ./img/about-us/about-us-desktop-2x.jpg 2x
              "
              media="(min-width:1440px)"
              type="image/jpg"
            />
            <img
              class="about-us-img"
              src="./img/about-us/about-us-mob-1x.jpg"
              alt="white sofa"
            />
          </picture>
        </div>
      </div>
    </section>