<section class="bestsellers-section" id="bestsellers">
  <div class="bestsellers-container">
    <h2 class="bestsellers-title">bestsellers</h2>

    <div class="bestsellers-wrap">
      <div class="bestsellers-wrap-1">
        <ul class="bestsellers-list-1">
          <li class="bestsellers-list-item-1">
            <img
              class="bestsellers-img-1"
              srcset="
                ../img/bestsellers/platform_bed_1x.jpg 1x,
                ../img/bestsellers/platform_bed_2x.jpg 2x
              "
              src="../img/bestsellers/platform_bed_1x.jpg"
              width="343"
              height="193"
              alt="modern platform bad"
            />
            <p class="bestsellers-list-item-text">The modern platform bed</p>
            <span class="bestsellers-list-item-span">750&#36;</span>
          </li>
        </ul>
      </div>

      <div class="bestsellers-wrap-4">
        <ul class="bestsellers-list-4">
          <li class="bestsellers-list-item-4">
            <img
              class="bestsellers-img"
              srcset="
                ../img/bestsellers/lounge_chair_1x.jpg 1x,
                ../img/bestsellers/lounge_chair_2x.jpg 2x
              "
              src="../img/bestsellers/lounge_chair_1x.jpg"
              width="343"
              height="193"
              alt="Cozy Lounge Chair"
            />
            <p class="bestsellers-list-item-text">The Cozy Lounge Chair</p>
            <span class="bestsellers-list-item-span">230&#36;</span>
          </li>

          <li class="bestsellers-list-item-4">
            <img
              class="bestsellers-img"
              srcset="
                ../img/bestsellers/industrial_chair_1x.jpg 1x,
                ../img/bestsellers/industrial_chair_2x.jpg 2x
              "
              src="../img/bestsellers/industrial_chair_1x.jpg"
              width="343"
              height="193"
              alt="Industrial accent chair"
            />
            <p class="bestsellers-list-item-text">
              The industrial accent chair
            </p>
            <span class="bestsellers-list-item-span">250&#36;</span>
          </li>

          <li class="bestsellers-list-item-4">
            <img
              class="bestsellers-img-4"
              srcset="
                ../img/bestsellers/sleek_stand_1x.jpg 1x,
                ../img/bestsellers/sleek_stand_2x.jpg 2x
              "
              src="../img/bestsellers/sleek_stand_1x.jpg"
              width="343"
              height="193"
              alt="Sleek stand"
            />
            <p class="bestsellers-list-item-text">The sleek stand</p>
            <span class="bestsellers-list-item-span">300&#36;</span>
          </li>

          <li class="bestsellers-list-item-4">
            <img
              class="bestsellers-img"
              srcset="
                ../img/bestsellers/minimalist_sofa_1x.jpg 1x,
                ../img/bestsellers/minimalist_sofa_2x.jpg 2x
              "
              src="../img/bestsellers/minimalist_sofa_1x.jpg"
              width="343"
              height="193"
              alt="Minimalist sofa"
            />
            <p class="bestsellers-list-item-text">The minimalist sofa</p>
            <span class="bestsellers-list-item-span">650&#36;</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
