<section class="clients-reviews-section" id="clients-reviews">
  <h2 class="clients-reviews-title">Clients reviews</h2>
  <div class="container-clients-reviews">
    <ul class="clients-reviews-list" >
      <li class="clients-reviews-item">
        <div class="clients-reviews-user">
          <img src="../img/clients-reviews/reviews-avatar1.jpg" alt="avatar" />
          <div class="reviews-name-date">
            <h3 class="clients-reviews-name">Alexandra dream</h3>
            <p class="clients-reviews-date">1 week ago</p>
          </div>
        </div>
        <p class="clients-reviews-description">
          I was blown away by the quality and craftsmanship of the furniture I
          received from this company. Each piece was unique and beautifully
          designed, and you can tell that a lot of thought and care goes into
          every detail.
        </p>
      </li>
      <li class="clients-reviews-item desktop">
        <div class="clients-reviews-user">
          <img src="../img/clients-reviews/reviews-avatar2.jpg" alt="avatar" />
          <div class="reviews-name-date">
            <h3 class="clients-reviews-name">James Williams</h3>
            <p class="clients-reviews-date">A week ago</p>
          </div>
        </div>
        <p class="clients-reviews-description">
          The "Minimal" furniture set is a fantastic addition to my home. It
          boasts a minimalist design, enhancing the feel and look of my living
          space. The sturdy construction is worth noting too, which speaks
          volumes about its durability.
        </p>
      </li>
      <li class="clients-reviews-item desktop">
        <div class="clients-reviews-user">
          <img src="../img/clients-reviews/reviews-avatar3.jpg" alt="avatar" />
          <div class="reviews-name-date">
            <h3 class="clients-reviews-name">Emily Watson</h3>
            <p class="clients-reviews-date">3 week ago</p>
          </div>
        </div>
        <p class="clients-reviews-description">
          The "Minimal" furniture set has far exceeded my expectations. The
          sleek design combined with the high-quality materials have not only
          added an exceptional aesthetic to my space but also offered an
          uncompromising standard of comfort.
        </p>
      </li>
    </ul>
  </div>
</section>
