<footer class="footer">
    <a class="footer-logo-container-link" href="../index.html" target="_blank">
        <svg class="footer-logo-container" width="127" height="16">
            <use href="../img/icons.svg#icon-logo"></use>
        </svg>
    </a>

    <nav class="footer-nav">
        <ul class="footer-nav-list">
            <li class="footer-nav-list-item"><a class="footer-nav-link">About us</a></li>
            <li class="footer-nav-list-item"><a href="footer-nav-link">Our products</a></li>
            <li class="footer-nav-list-item"><a href="footer-nav-link">Prices</a></li>
            <li class="footer-nav-list-item"><a href="footer-nav-link">Bestsellers</a></li>
            <li class="footer-nav-list-item"><a href="footer-nav-link">Rewievs</a></li>
        </ul>
    </nav>

    <ul class="footer-social-list">
        <li class="footer-social-list-item">
    
            <a class="footer-icon-link" href="https://www.facebook.com/" target="_blank">
                <svg class="footer-link-svg" width="40" height="40">
                    <use href="../img/icons.svg#icon-facebook-logo"></use>
                </svg>
            </a>
        </li>
    
        <li class="footer-social-link-item">
            <a class="footer-links-link" href="https://www.instagram.com/" target="_blank">
                <svg class="footer-link-svg" width="40" height="40">
                    <use href="../img/icons.svg#icon-instagram-logo"></use>
                </svg>
            </a>
        </li>
    
        <li class="footer-social-link-item">
            <a class="footer-links-link" href="https://www.youtube.com/" target="_blank">
                <svg class="footer-link-svg" width="40" height="40">
                    <use href="../img/icons.svg#icon-youtube-logo"></use>
                </svg>
            </a>
        </li>
    </ul>

    <address class="footer-address">
        <ul class="footer-address-list">
            <li class="footer-address-list-item"><a class="footer-address-link" href="">Obolonsky Prospect, 14, Kyiv</a></li>
            <li class="footer-address-list-item">Daily 10:00-21:00</li>
            <li class="footer-address-list-item"><a class="footer-address-link" href="tel:+380669384758">+380669384758</a></li>
            <li class="footer-address-list-item"><a class="footer-address-link" href="tel:+380679384758">+380679384758</a></li>
            <li class="footer-address-list-item"><a class="footer-address-link" href="mailto:minimal.furniture@gmail.com">minimal.furniture@gmail.com</a>
            </li>
        </ul>
    </address>

    <p class="footer-policy">By using this website, you agree to the <a class="footer-terms-policy" href="#">Terms of Service</a> and <a class="footer-terms-policy" href="#">Privacy Policy</a></p>
</footer>