<section class="our-products-section" id="our-products">
  <div class="our-products-container">
    <h2 class="our-products-title">Our products</h2>
    <ul class="our-products-list">
      <li class="our-products-list-item">
        <img
          srcset="
        ./img/our-products/our-products-1.jpg 1x
        ./img/our-products/our-products-1-2x.jpg 2x"
          class="our-products-img"
          src="./img/our-products/our-products-1.jpg"
          width="312"
          height="300"
          alt="Minimalist storage solutions"
        />
        <p class="our-products-list-item-text">Minimalist storage solutions</p>
      </li>
      <li class="our-products-list-item">
        <img
          srcset="
        ./img/our-products/our-products-2.jpg 1x
        ./img/our-products/our-products-2-2x.jpg 2x"
          class="our-products-img"
          src="./img/our-products/our-products-2.jpg"
          width="312"
          height="300"
          alt="Handcrafted minimalist seating"
        />
        <p class="our-products-list-item-text">
          Handcrafted minimalist seating
        </p>
      </li>
      <li class="our-products-list-item">
        <img
          srcset="
        ./img/our-products/our-products-3.jpg 1x
        ./img/our-products/our-products-3-2x.jpg 2x"
          class="our-products-img"
          src="./img/our-products/our-products-3.jpg"
          width="312"
          height="300"
          alt="Sleek and simple tables"
        />
        <p class="our-products-list-item-text">Sleek and simple tables</p>
      </li>
      <li class="our-products-list-item">
        <img
          srcset="
        ./img/our-products/our-products-4.jpg 1x
        ./img/our-products/our-products-4-2x.jpg 2x"
          class="our-products-img"
          src="./img/our-products/our-products-4.jpg"
          width="312"
          height="300"
          alt="Minimalist seating for every space"
        />
        <p class="our-products-list-item-text">
          Minimalist seating for every space
        </p>
      </li>
    </ul>
  </div>
</section>
