<section class='price'>
    <h2 class='price-title'>PRICE</h2>
    <div class='price-container'>
        <ul class='price-list'>
            <hr class='price-line'>
            <li class='price-list-item list'>
                <div class="price-container-mebles">
                    <span class='price-mebles-title'>CHAIRS</span>
                    <span class='price-mebles-dollars'>from 200$</span>
                </div>
                <hr class='price-line'>
            </li>
            <li class='price-list-item list'>
                <div class="price-container-mebles">
                    <span class='price-mebles-title'>TABLES</span>
                    <span class='price-mebles-dollars'>from 250$</span>
                </div>
                <hr class='price-line'>
            </li>
            <li class='price-list-item list'>
                <div class="price-container-mebles">
                    <span class='price-mebles-title'>DRESSERS</span>
                    <span class='price-mebles-dollars'>from 300$</span>
                </div>
                <hr class='price-line'>
            </li>
            <li class='price-list-item list'>
                <div class="price-container-mebles">
                    <span class='price-mebles-title'>SOFAS</span>
                    <span class='price-mebles-dollars'>from 500$</span>
                </div>
                <hr class='price-line'>
            </li>
        </ul>
    </div>
</section>