<section class='price-section' id='price'>
    <h2 class='price-title'>PRICE</h2>
    <div class='price-container'>
        <ul class='price-list'>
            <li class='price-list-item'>
                <p class='price-mebles-title'>CHAIRS<span class='price-mebles-dollars'>from 200$</span></p>
            </li>
            <li class='price-list-item'>
                <p class='price-mebles-title'>TABLES<span class='price-mebles-dollars'>from 250$</span></p>
            </li>
            <li class='price-list-item'>
                <p class='price-mebles-title'>DRESSERS<span class='price-mebles-dollars'>from 300$</span></p>
            </li>
            <li class='price-list-item'>
                <p class='price-mebles-title'>SOFAS<span class='price-mebles-dollars'>from 500$</span></p>
            </li>
        </ul>
    </div>
</section>