<section class='price-section' id='price'>
    <h2 class='price-title'>PRICE</h2>
    <div class='price-container'>
        <ul class='price-list'>
            <li class='price-list-item'>
                <p class='price-mebles-title'>CHAIRS</p><span class='price-mebles-dollars'>from 200$</span>
            </li>
            <li class='price-list-item'>
                <p class='price-mebles-title'>TABLES</p><span class='price-mebles-dollars'>from 250$</span>
            </li>
            <li class='price-list-item'>
                <p class='price-mebles-title'>DRESSERS</p><span class='price-mebles-dollars'>from 300$</span>
            </li>
            <li class='price-list-item'>
                <p class='price-mebles-title'>SOFAS</p><span class='price-mebles-dollars'>from 500$</span>
            </li>
        </ul>
    </div>
</section>