<section class="subscription">
  <h2 class="subscription-title">Newsletter</h2>
  <p class="subscription-description">
    Every week we will send you new designs and information about sales.
  </p>
  <form class="subscription-form">
    <input
      type="text"
      name="Name"
      placeholder="Name"
      class="subscription-input-name"
      required
    />
    <input
      type="email"
      name="email"
      id="subscription-email"
      placeholder="E-mail"
      class="subscription-input-email"
      required
    />
    <div class="subscription-container-checkbox">
      <input
        type="checkbox"
        name="checkbox"
        id="subscription-checkbox"
        class="subscription-checkbox"
        required
      />
      <p class="subscription-checkbox-description">
        Agree to subscribe to the newsletter
      </p>
      <button type="button" class="subscription-button">Send</button>
      <div class="subscription-container-image">
        <img src="../img/subscription/subscription-image.jpg" alt="image" />
      </div>
    </div>
  </form>
</section>
