.header-section {
  background-color: var(--lightblue-cl);
}
.header-container {
  padding: 28px 16px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-logo-icon {
  fill: var(--sapphire-main-cl);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo-icon:hover,
.header-logo-icon:focus {
  fill: var(--hover-darkblue-cl);
}
.header-menu-button {
  margin-left: auto;
  padding: 0;
  background: transparent;
  border: none;
  width: 32px;
  height: 32px;
}
.header-menu-icon {
  stroke: var(--sapphire-main-cl);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-icon:hover,
.header-menu-icon:focus {
  stroke: var(--hover-darkblue-cl);
}
.header-menu-list {
  display: none;
}

@media screen and (min-width: 375px) {
  .header-container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    padding: 28px 32px 27px 32px;
  }
  .header-logo-icon {
    width: 127px;
  }
  .header-menu-button {
    width: 40px;
    height: 40px;
  }
  .header-menu-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1440px;
    padding: 26px 60px;
  }
  .header-menu-button {
    display: none;
  }
  .header-menu-list {
    display: flex;
    gap: 30px;
    margin-left: auto;
    padding: 8px;
    color: var(--sapphire-main-cl);
    font-family: var(--primary-font);
    font-size: 18px;
    line-height: 1.5em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu-list a:hover,
  .header-menu-list a:focus {
    color: var(--hover-darkblue-cl);
  }
}
