.header-container {
  margin: 0 auto;
  position: relative;
  padding: 28px 16px;
  background-color: var(--lightblue-cl);
}
.header-container.is-hidden {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
}
.mobile-div {
  display: none;
}

.header-content-container {
  margin: 0 auto;
}
.header-menu {
  width: calc(100%);
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-logo-icon {
  fill: var(--sapphire-main-cl);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo-icon:hover,
.header-logo-icon:focus {
  fill: var(--hover-darkblue-cl);
}
.header-menu-button {
  margin-left: auto;
  padding: 0;
  background: transparent;
  border: none;
  width: 32px;
  height: 32px;
}
.header-menu-close-button {
  margin-left: auto;
  padding: 0;
  background: transparent;
  border: none;
  width: 32px;
  height: 32px;
  display: none;
}
.header-menu-icon {
  stroke: var(--sapphire-main-cl);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-icon:hover,
.header-menu-icon:focus {
  stroke: var(--hover-darkblue-cl);
}
.header-menu-list {
  display: none;
}
@media screen and (min-width: 375px) {
  .header-content-container {
    max-width: 343px;
  }
  .is-hidden .header-container {
    min-width: 100%;
    height: 88px;
  }
}

@media screen and (min-width: 768px) {
  .header-content-container {
    max-width: 704px;
  }
  .header-container {
    height: 95px;
    padding: 28px 32px 27px 32px;
  }
  .header-logo-icon {
    width: 127px;
  }
  .header-menu-button {
    width: 40px;
    height: 40px;
  }
  .header-menu-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .header-content-container {
    max-width: 1320px;
  }
  .header-container {
    padding: 26px 60px;
  }
  .header-menu-button {
    display: none;
  }
  .header-menu-list {
    display: flex;
    gap: 30px;
    margin-left: auto;
    padding: 8px;
    color: var(--sapphire-main-cl);
    font-family: var(--primary-font);
    font-size: 18px;
    line-height: 1.5em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu-list a:hover,
  .header-menu-list a:focus {
    color: var(--hover-darkblue-cl);
  }
}

/**
 |============================
 | menu
 |============================
*/
.no-scroll {
  overflow: hidden;
}
.is-hidden + .mobile-menu-container + .mobile-div {
  display: block;
  height: 88px;
  width: 100%;
}
.is-hidden {
  background-color: var(--lightblue-cl);
  z-index: 5;
  height: 88px;
}

.is-hidden .header-menu {
  position: fixed;
  z-index: 3;
  width: calc(100% - 32px);
}
.is-hidden .header-menu-button {
  display: none;
}

.is-hidden .header-menu-close-button {
  display: inline;
  margin-left: auto;
}

.mobile-menu-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--white-cl);
}
.is-hidden + .mobile-menu-container {
  position: fixed;
  top: 0;
  padding-top: 88px;
  display: block;
  height: 100vh;
  transform: translateX(0%);
  z-index: 2;
}
.mobile-nav-list {
  margin-top: 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
  color: var(--sapphire-main-cl);
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5em;
}

.mobile-nav-list a:hover,
.mobile-nav-list a:focus {
  color: var(--hover-darkblue-cl);
}
@media screen and (min-width: 375px) {
  .is-hidden .header-menu {
    width: 343px;
  }
}
@media screen and (min-width: 768px) {
  .is-hidden {
    height: 95px;
  }
  .is-hidden + .mobile-menu-container {
    padding-top: 95px;
  }
  .is-hidden + .mobile-menu-container + .mobile-div {
    display: block;
    height: 95px;
    width: 100%;
  }
  .is-hidden .header-menu {
    width: 704px;
  }
  .is-hidden .header-menu-close-button {
    width: 40px;
    height: 40px;
  }
  .is-hidden .header-menu-close-button {
    width: 40px;
    height: 40px;
  }
  .mobile-nav-list {
    margin-top: 150px;
    gap: 30px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .is-hidden + .mobile-menu-container {
    display: none;
  }
  .is-hidden .header-menu-close-button {
    display: none;
  }
  .is-hidden .header-menu {
    width: 1320px;
  }
}
