.price-section {
    padding-top: 64px;
    padding-bottom: 64px;
    background: #FFF;
}

.price-container {
    padding-left: 16px;
    padding-right: 16px;
}

.price-list {
    max-width: 343px;
    border: 1px solid var(--sapphire-main-cl);
    border-left: none;
    border-right: none;
    margin: 0 auto;
}

.price-container-list {}

.price-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 102px;
    width: 100%;
    border: 1px solid var(--sapphire-main-cl);
    border-left: none;
    border-right: none;
    overflow: hidden;
}

.price-mebles-text {
    color: var(--sapphire-main-cl);
    font-family: var(--primary-font);
    font-size: 28px;
    line-height: 1.5;
    text-transform: uppercase;
    position: relative;
    transition: all 0.9s ease-in-out;
}

.price-mebles-text:hover {
    transform: translateX(70px);
}

.price-mebles-text:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: -70px;
    width: 50px;
    height: 1px;
    background-color: var(--sapphire-main-cl);
    top: 50%;
    transform: translateY(-50%);
}

.price-mebles-dollars {
    color: var(--sapphire-main-cl);
    text-align: right;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}




/* -----------------------mobil----------------------------- */

@media screen and (min-width: 375px) {
    .price-container {
        max-width: 375px;
    }

    .price-list {
        max-width: 343px;
    }
}

/* ---------------------tablet------------------------------- */

@media screen and (min-width: 768px) {
    .price-container {
        max-width: 768px;
    }

    .price-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .price-container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .price-list {
        max-width: 704px;
    }

    .price-mebles-text {
        font-size: 32px;
        line-height: 1.41;
    }

    .price-mebles-dollars {
        font-size: 18px;
        line-height: 1.5;
    }

}

/* -----------------------desctop--------------------------- */


@media screen and (min-width: 1440px) {
    .price-container {
        max-width: 1440px;
    }

    .price-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .price-container {
        padding-left: 172px;
        padding-right: 172px;
    }

    .price-list {
        max-width: 1096px;
    }
}