.price-section {
    padding-top: 64px;
    padding-bottom: 64px;
    background: #FFF;
}

.price-container {
    padding-left: 16px;
    padding-right: 16px;
}

.price-list {
    max-width: 343px;
    border: 0.5px solid var(--sapphire-main-cl);
    border-left: none;
    border-right: none;
    margin: 0 auto;
}

.price-container-list {}

.price-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 102px;
    width: 100%;

    border: 0.5px solid var(--sapphire-main-cl);
    border-left: none;
    border-right: none;
}

.price-mebles-text {
    color: var(--sapphire-main-cl);
    font-family: var(--primary-font);
    font-size: 28px;
    line-height: 1.5;
    text-transform: uppercase;
    position: relative;
    transition: all 0.9s ease-in-out;
}

.price-mebles-text:hover {
    transform: translateX(70px);
}

.price-mebles-text:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: -70px;
    width: 50px;
    height: 1px;
    background-color: var(--sapphire-main-cl);
    top: 50%;
    transform: translateY(-50%);
}

.price-mebles-dollars {
    color: var(--sapphire-main-cl);
    text-align: right;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}