/*-----------320px---------*/

.subscription-container {
  width: 100%;
  padding: 64px 16px 100px 16px;
  margin: 0 auto;
}

.subscription-title {
  color: var(--sapphire-main-cl);
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
}

.subscription-description {
  color: var(--sapphire-main-cl);
  font-size: 16px;
  line-height: 1.5;
  max-width: 100%;
  height: 48px;
  margin-bottom: 30px;
}

.subscription-input-name {
  max-width: 343px;
  width: 100%;
  height: 50px;
  border: 1px solid var(--darkgrey-cl);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
  padding: 11px 20px;
  margin-bottom: 20px;
  color: var(--blue-font, #0a224a);
  font-size: 18px;
  line-height: 1.5;
}

.check-icon {
  stroke: var(--white-cl);
}

.subscription-input-name:hover {
  border: 1px solid var(--sapphire-main-cl);
}
.subscription-input-name:focus {
  border: 1px solid var(--sapphire-main-cl);
}
.subscription-input-name::placeholder {
  color: var(--lightgrey-cl);
  font-size: 16px;
  line-height: 1.5;
}

input:invalid:not(:placeholder-shown) {
  border: 2px solid red;
  outline: transparent;
  color: red;
}
.error-icon {
  fill: transparent;
}
input:invalid:not(:placeholder-shown) + .error-icon {
  fill: red;
}
.input-wrapper {
  width: 100%;
  position: relative;
}

.error-icon {
  position: absolute;
  top: 35%;
  right: 20px;
  transform: translateY(-50%);
}

.subscription-input-email {
  max-width: 343px;
  width: 100%;
  height: 50px;
  border: 1px solid var(--darkgrey-cl);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
  padding: 11px 20px;
  margin-bottom: 21px;
  color: var(--blue-font);
  font-size: 18px;
  line-height: 1.5;
}

.subscription-input-email:hover {
  border: 1px solid var(--sapphire-main-cl);
}
.subscription-input-email:focus {
  border: 1px solid var(--sapphire-main-cl);
}

.subscription-input-email::placeholder {
  color: var(--lightgrey-cl);
  font-size: 16px;
  line-height: 1.5;
}

.subscription-checkbox-text {
  margin-bottom: 30px;
}

.subscription-button {
  color: var(--white-cl);
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  width: 224px;
  height: 50px;
  padding: 17px 65px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--sapphire-main-cl);
  outline: transparent;
  cursor: pointer;
  border: none;
  margin-bottom: 30px;
}

.subscription-button:hover {
  background-color: var(--hover-darkblue-cl);
}

.subscribe-label-check {
  color: var(--grey-cl);
  font-size: 16px;
  line-height: 24px;
}

.checkbox-border {
  border: 1px solid var(--darkgrey-cl);
  width: 25px;
  height: 25px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: var(--white-cl);
  cursor: pointer;
  margin-right: 8px;
}

.check-icon {
  stroke: var(--white-cl);
}

.subscription-checkbox:checked + .subscribe-label-check span {
  border: none;
  background-color: var(--sapphire-main-cl);
  stroke: var(--white-cl);
}

.subscription-container-image {
  max-width: 343px;
  max-height: 300px;
}
.subscribe-label-check {
  line-height: 1.5em;
}

/*-----------375px---------*/
@media screen and (min-width: 375px) {
  .subscription-container {
    max-width: 375px;
  }
}

/*-----------TABLET 768px---------*/
@media screen and (min-width: 768px) {
  .subscription-container {
    max-width: 768px;
    padding: 100px 32px;
    align-items: flex-start;
  }

  .subscription-form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .subscription-title {
    font-size: 32px;
    line-height: 1.41;
    text-align: start;
    margin-bottom: 30px;
  }

  .subscription-description {
    color: var(--sapphire-main-cl);
    font-size: 18px;
    line-height: 1.5;

    height: 54px;
    margin-bottom: 30px;
  }

  .subscription-input-name {
    max-width: 536px;
    width: 100%;
  }
  .subscription-input-email {
    max-width: 536px;
    width: 100%;
  }

  .subscription-right-container {
    max-width: 536px;
  }
  .subscription-form {
    align-items: baseline;
  }

  .subscription-button {
    font-size: 18px;
    line-height: 1.33em;
    margin-bottom: 64px;
  }
  .subscription-container-image {
    max-width: 704px;
    max-height: 396px;
  }

  .subscription-image img {
    object-fit: cover;
  }
  .subscribe-label-check {
    font-size: 18px;
  }
}

/*-----------DESKTOP 1440px---------*/
@media screen and (min-width: 1440px) {
  .subscription-container {
    max-width: 1440px;
    padding: 100px 0 64px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    align-items: center;
  }

  .subscription-container-image {
    max-width: 460px;
    max-height: 410px;
  }
}
